* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    line-height: 1.4;
    background-color: #efefef;
}

:root{
    --menu-speed:0.75s;
    --primary-color: rgba(247, 200, 201, 0.808);
    --overlay-color: rgba(24, 39, 51, 0.85);
}

.header3{
    grid-area: header3;
}


$mobile: 200px;
$smallTablet:768px;
$tablet: 1024px;
$laptop: 1025px;



@media screen and (min-width: $mobile) and (max-width: $smallTablet) {

        .header2 {
            display: none; }

        .indexContainer {

            .indexWallpaper{
                img{width: 100%;}
                display: flex;
                justify-content: center;
                align-content: space-between;
                
            }

            .container{
                img{
                    width: 200px;
                }
            }

            .container2{
                img{
                    width: 200px;
                }
            }

            font-family: 'Outfit', sans-serif;
            padding: 0px;
            display: grid;
            padding: 0px;
            margin: 0%;
            width: 100vw;
            grid-template-columns: repeat(2, auto);
            grid-template-areas:
            "header3 header3"
           "indexWallpaper indexWallpaper"
           "detoxLife detoxLife"
           "superfoods superfoods"
           "footer footer"; 
         }

         .calendarioContainer{

            .calendarWallpaper{
                img{width: 100%;}
                display: flex;
                justify-content: center;
                align-content: space-between;
                
            }

            .calendarCard{

                max-width: 300px;
                height: fit-content;
                margin: 10px;

                img{
                    width: 230px;
                }
                
            }



            font-family: 'Outfit', sans-serif;
            padding: 0px;
            display: grid;
            padding: 0px;
            margin: 0%;
            width: 100vw;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(5,auto);
            grid-template-areas:
        
           "header3 header3"
           "calendarWallpaper calendarWallpaper"
           "calendarTitle calendarTitle"
           "calendarCards calendarCards"
           "footer footer"; 
         }

         .consejosContainer{
            font-family: 'Outfit', sans-serif;

    

            .card-1{
                width: fit-content;
                
                img {
                    margin: 0.2rem;
                    width: 10rem; 
                    float: left; 
            
             }
            }
            .card-2 {
                width: fit-content;
                
                img {
                    margin: 0.2rem;
                    width: 10rem;
                    float: left;
                    
            
             }
            }
        }


        .recetasContainer{
            .reciepeWallpaper{
                img{width: 100%;}
                display: flex;
                justify-content: center;
                align-content: space-between;
                
            }

            .reciepeCard{

                max-width: 300px;
                height: fit-content;
                margin: 10px;

                img{
                    width: 230px;
                }
                
            }



            font-family: 'Outfit', sans-serif;
            padding: 0px;
            display: grid;
            padding: 0px;
            margin: 0%;
            width: 100vw;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(5,auto);
            grid-template-areas:
        
           "header3 header3"
           "reiciepeWallpaper reiciepeWallpaper"
           "reicipeTitle reicipeTitle"
           "reicipeCards reicipeCards"
           "footer footer"; 
         }
    
}

    


            
     
  
@media screen and (min-width: $smallTablet) and (max-width: $tablet) {


    .header2{
        display: none;
    }

    
    .indexContainer {

        .indexWallpaper{
            img{width: 100%;}
            display: flex;
            justify-content: center;
            align-content: space-between;
            
        }

        .container{
            img{
                width: 30rem;
            }
        }

        .container2{
            img{
                width: 200px;
            }
        }


        font-family: 'Outfit', sans-serif;
        padding: 0px;
        display: grid;
        padding: 0px;
        margin: 0%;
        width: 100%; 
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        " header3 header3 "
        "indexWallpaper indexWallpaper "
        "detoxLife detoxLife"
        "superfoods superfoods"
        "footer footer "; 
    }

    .indexWallpaper{
        width: 100%;
    }

    .calendarWallpaper{
        width: 100%;
    }

    .calendarioContainer{

        .calendarWallpaper{
            img{width: 100%;}
            display: flex;
            justify-content: center;
            align-content: space-between;
            
        }

        .calendarCard{

            max-width: 300px;
            height: fit-content;
            margin: 10px;

            img{
                width: 230px;
            }
            
        }



        font-family: 'Outfit', sans-serif;
        padding: 0px;
        display: grid;
        padding: 0px;
        margin: 0%;
        width: 100vw;
        grid-template-columns: repeat(5, auto);
        grid-template-areas:
    
        "header3 header3"
        "calendarWallpaper calendarWallpaper "
        "calendarTitle calendarTitle "
        "calendarCards calendarCards "
        "footer footer "; 
    }

    .consejosContainer{
        font-family: 'Outfit', sans-serif;

        .card-1{
            width: fit-content;
            
            img {
                margin: 0.2rem;
                width: 15rem; 
                float: left; 
        
         }
        }
        .card-2 {
            width: fit-content;
            
            img {
                margin: 0.2rem;
                width: 15rem;
                float: left;
                
        
         }
        }
    
    
  }


  .recetasContainer{

    .reciepeWallpaper{
        img{width: 100%;}
        display: flex;
        justify-content: center;
        align-content: space-between;
        
    }

    .reciepeCard{

        max-width: 300px;
        height: fit-content;
        margin: 10px;

        img{
            width: 230px;
        }
        
    }



    font-family: 'Outfit', sans-serif;
    padding: 0px;
    display: grid;
    padding: 0px;
    margin: 0%;
    width: 100vw;
    grid-template-columns: repeat(5, auto);
    grid-template-areas:

    " header3 header3 "
    "reiciepeWallpaper reiciepeWallpaper "
    "reicipeTitle reicipeTitle "
    "reicipeCards reicipeCards "
    "footer footer "; }
    
}




@media screen and (min-width: $laptop) {


    .header3{
        display: none;
    }

    .menuWrap{
        display: none;
    }

    
    .indexContainer {
        font-family: 'Outfit', sans-serif;

        padding: 0px;
        display: grid;
        padding: 0px;
        margin: 0%;
        width: 100%; 
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "gridHeader gridHeader gridHeader"
        "indexWallpaper indexWallpaper indexWallpaper "
        "detoxLife superfoods superfoods"
        "footer footer footer"; 
    }

    

    .calendarioContainer{

        .calendarWallpaper{
            img{width: 100%;}
            display: flex;
            justify-content: center;
            align-content: space-between;
            
        }

        .calendarCard{

            max-width: 30rem;
            height: fit-content;
            margin: 10px;

            img{
                width: 250px;
            }
            
        }



        font-family: 'Outfit', sans-serif;
        padding: 0px;
        display: grid;
        padding: 0px;
        margin: 0%;
        width: 100vw;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(5, auto);
        grid-template-areas:

        "gridHeader  gridHeader "
        "calendarWallpaper calendarWallpaper "
        "calendarTitle calendarTitle "
        "calendarCards calendarCards "
        "footer footer "; 
    }

        


    .consejosContainer{
        font-family: 'Outfit', sans-serif;

        .card-1{
            display: flex;
            
            img {
                margin: 0.2rem;
                width: 20rem;  
        
        }
        }
        .card-2 {
            display: flex;
            
            img {
                margin: 0.2rem;
                width: 20rem;
                
        
        }
        }


    }


    .recetasContainer{
    font-family: 'Outfit', sans-serif;
    padding: 0px;
    display: grid;
    padding: 0px;
    margin: 0%;
    width: 100vw;
    grid-template-columns: repeat(5, auto);
    grid-template-areas:

    "gridHeader gridHeader gridHeader"
    "reiciepeWallpaper reiciepeWallpaper reiciepeWallpaper"
    "reicipeTitle reicipeTitle reicipeTitle"
    "reicipeCards reicipeCards reicipeCards"
    "footer footer footer"; 
    }



}

@media screen and (min-width: $laptop){

        .header3{
            display: none;
    }

    .menuWrap{
        display: none;
    }
    .indexContainer {
        
        .indexWallpaper{
            height: fit-content;
            img{ width: 100%;
                
            }
           
        }
    
        font-family: 'Outfit', sans-serif;

        padding: 0px;
        display: grid;
        padding: 0px;
        margin: 0%;
        width: 100%; 
        height:fit-content;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "gridHeader gridHeader gridHeader"
        "indexWallpaper indexWallpaper indexWallpaper "
        "detoxLife superfoods superfoods"
        "footer footer footer"; 
    }

    
    

    .calendarioContainer{

        .calendarWallpaper{
            img{width: 100%;}
            
        }

        font-family: 'Outfit', sans-serif;
        padding: 0px;
        display: grid;
        padding: 0px;
        margin: 0%;
        width: 100vw;
        grid-template-columns: repeat(5, auto);
        grid-template-areas:

        "gridHeader gridHeader gridHeader"
        "calendarWallpaper calendarWallpaper calendarWallpaper "
        "calendarTitle calendarTitle calendarTitle"
        "calendarCards calendarCards calendarCards"
        "footer footer footer"; 
    }


    .consejosContainer{
        font-family: 'Outfit', sans-serif;

        .card-1{
            display: flex;
            
            img {
                margin: 0.2rem;
                width: 20rem;  
        
        }
        }
        .card-2 {
            display: flex;
            
            img {
                margin: 0.2rem;
                width: 20rem;
                
        
        }
        }


    }


    .recetasContainer{
        .reciepeWallpaper{
            img{width: 100%;}
            
        }
    font-family: 'Outfit', sans-serif;
    padding: 0px;
    display: grid;
    padding: 0px;
    margin: 0%;
    width: 100vw;
    grid-template-columns: repeat(5, auto);
    grid-template-areas:

    "gridHeader gridHeader gridHeader"
    "reiciepeWallpaper reiciepeWallpaper reiciepeWallpaper"
    "reicipeTitle reicipeTitle reicipeTitle"
    "reicipeCards reicipeCards reicipeCards"
    "footer footer footer"; 
    }




}


