* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
    background-color: #efefef;
}

:root{
    --menu-speed:0.75s;
    --primary-color: rgba(247, 200, 201, 0.644);
    --overlay-color: rgba(24, 39, 51, 0.85);
}



/*@media screen and (max-width: 600px) {
        
       
        .indexContainer {
            padding: 0px;
            display: grid;
            padding: 0px;
            margin: 0%;
            width: 100vw;
            grid-template-columns: repeat(2, auto);
            grid-template-areas:
        
           "indexWallpaper indexWallpaper"
           "detoxLife detoxLife"
           "superfoods superfoods"
           "footer footer"; 
         }

        .calendarioContainer{

            padding: 0px;
            display: grid;
            padding: 0px;
            margin: 0%;
            width: 100vw;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(4,auto);
            grid-template-areas:
        
           
           "calendarWallpaper calendarWallpaper"
           "calendarTitle calendarTitle"
           "calendarCards calendarCards"
           "footer footer"; 
            
        }

        .consejosContainer{

            .card-1{
                flex-wrap: wrap;
                img {
                    margin: 1.5rem;
                    width: 3rem;
                    
            
             }
        
            }
            .card-2 {
                flex-wrap: wrap;
                img {
                    margin: 1.5rem;
                    width: 3rem;
                    
             }
            
            }
        }

        
    } */

    @media screen  and  (max-width: 1023px) {

            .header2 {
            display: none; }

            .indexContainer {
                padding: 0px;
                display: grid;
                padding: 0px;
                margin: 0%;
                width: 100vw;
                grid-template-columns: repeat(2, auto);
                grid-template-areas:
            
               "indexWallpaper indexWallpaper"
               "detoxLife detoxLife"
               "superfoods superfoods"
               "footer footer"; 
             }

             .calendarioContainer{
                padding: 0px;
                display: grid;
                padding: 0px;
                margin: 0%;
                width: 100vw;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: repeat(4,auto);
                grid-template-areas:
            
               
               "calendarWallpaper calendarWallpaper"
               "calendarTitle calendarTitle"
               "calendarCards calendarCards"
               "footer footer"; 
             }

             .consejosContainer{

        

                .card-1{
                    
                    img {
                        margin: 0.2rem;
                        width: 20rem; 
                        float: left; 
                
                 }
                }
                .card-2 {
                    
                    img {
                        margin: 0.2rem;
                        width: 20rem;
                        float: left;
                        
                
                 }
                }
            }


            .recetasContainer{
                padding: 0px;
                display: grid;
                padding: 0px;
                margin: 0%;
                width: 100vw;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: repeat(4,auto);
                grid-template-areas:
            
               
               "reiciepeWallpaper reiciepeWallpaper"
               "reicipeTitle reicipeTitle"
               "reicipeCards reicipeCards"
               "footer footer"; 
             }
        
    }

     
  
  @media screen and (min-width: 1024px) {
    .menuWrap{
        display: none;
    }
    .indexContainer {
   
        padding: 0px;
        display: grid;
        padding: 0px;
        margin: 0%;
        width: 100%; 
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "gridHeader gridHeader gridHeader"
        "indexWallpaper indexWallpaper indexWallpaper "
        "detoxLife superfoods superfoods"
        "footer footer footer"; 
    }

    .indexWallpaper{
        width: 100%;
    }

    .calendarWallpaper{
        width: 100%;
    }

    .calendarioContainer{
        padding: 0px;
        display: grid;
        padding: 0px;
        margin: 0%;
        width: 100vw;
        grid-template-columns: repeat(5, auto);
        grid-template-areas:
    
        "gridHeader gridHeader gridHeader"
        "calendarWallpaper calendarWallpaper calendarWallpaper "
        "calendarTitle calendarTitle calendarTitle"
        "calendarCards calendarCards calendarCards"
        "footer footer footer"; 
    }
    .consejosContainer{

        .card-1{
            display: flex;
            
            img {
                margin: 0.2rem;
                width: 20rem;  
        
         }
        }
        .card-2 {
            display: flex;
            
            img {
                margin: 0.2rem;
                width: 20rem;
                
        
         }
        }
    
    
  }


  .recetasContainer{
    padding: 0px;
    display: grid;
    padding: 0px;
    margin: 0%;
    width: 100vw;
    grid-template-columns: repeat(5, auto);
    grid-template-areas:

    "gridHeader gridHeader gridHeader"
    "reiciepeWallpaper reiciepeWallpaper reiciepeWallpaper"
    "reicipeTitle reicipeTitle reicipeTitle"
    "reicipeCards reicipeCards reicipeCards"
    "footer footer footer"; 
}

  }