.reciepesTitle{
    @extend.calendarTitle;
    grid-area: reicipeTitle;
    p{
        font-size: 1.2rem;
        margin: 1rem;
    }
}

.reciepeCard{
    @extend.calendarCard;
    height: fit-content;
   
    .btn{
        margin: 1rem;
    }

    img{
        width: 22rem;
    }

    a{
    text-decoration: none !important;
    color: white;
    }
    
}

.reciepeCards{
    @extend.calendarCards;
    grid-area: reicipeCards;
        h1{
            margin: 10px;
        }
        p{
            margin: 10px;
        }
}

.reciepeWallpaper{
    grid-area: reiciepeWallpaper;
    img{
        width: 10rem;
        padding-left: 10px;
    }
}


.reciepe{
    @extend.calendarCard;
    font-family: 'Outfit', sans-serif;
    width: 97vw;
    height:fit-content;
    padding: 20px;
    margin: 1rem;
    background-image: url("../img/reciepeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(77, 114, 116);
    a{
        text-decoration: none !important;
        color: white;
        }

    img{
        width: auto;
    }
    
    .reciepeFlex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;  
        margin-top: 1rem;      
        
    }
    h2{
        color:rgb(42, 75, 77);
        margin: 1rem;
    }

    h3{
        margin-top: 1rem;
        color:rgb(42, 75, 77);
        
    }
    
    li{
        list-style: none;
        color: rgb(75, 139, 141);
        font-weight: bolder;
        margin: 1rem;
    }
    
    
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
    

     &:hover{
        background-color: #9c1458;
        border-color: #9c1458;
        
      }
  }

  