.vidaDetoxContainer{
    font-family: 'Outfit', sans-serif;
    font-size: 1.1rem;
}

.detoxContainer{
    @extend.calendarCard;
    width: fit-content;
    height: fit-content;
    margin: 1rem;
    img{
        width: 50%;
    }
}


.detoxTitle{
    @extend.calendarTitle;
    
}