.menuWrap {
  grid-area: menuWrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menuWrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menuWrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Hamburger Line */
.menuWrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Top and botton lines*/
.menuWrap .hamburger > div:before,
.menuWrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/*moves line down*/
.menuWrap .hamburger > div:after {
  top: 10px;
}

/*Toggler animate*/
.menuWrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* Turn lines into X*/
.menuWrap .toggler:checked + .hamburger > div::before,
.menuWrap .toggler:checked + .hamburger > div::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* show menu*/
.menuWrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menuWrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: var(--menu-speed);
          transition-duration: var(--menu-speed);
}

.menuWrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menuWrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.menuWrap .menu > div {
  background: var(--primary-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menuWrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menuWrap .menu > div > div > ul > li {
  list-style: none;
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
}

.menuWrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.header2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-size: 1.3rem;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header2 a {
  padding: 14 16px;
  text-decoration: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #717a83;
}

.header2 a:hover {
  font-weight: bold;
}

.gridHeader {
  grid-area: gridHeader;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  background-color: #efefef;
}

:root {
  --menu-speed:0.75s;
  --primary-color: rgba(247, 200, 201, 0.644);
  --overlay-color: rgba(24, 39, 51, 0.85);
}

/*@media screen and (max-width: 600px) {
        
       
        .indexContainer {
            padding: 0px;
            display: grid;
            padding: 0px;
            margin: 0%;
            width: 100vw;
            grid-template-columns: repeat(2, auto);
            grid-template-areas:
        
           "indexWallpaper indexWallpaper"
           "detoxLife detoxLife"
           "superfoods superfoods"
           "footer footer"; 
         }

        .calendarioContainer{

            padding: 0px;
            display: grid;
            padding: 0px;
            margin: 0%;
            width: 100vw;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(4,auto);
            grid-template-areas:
        
           
           "calendarWallpaper calendarWallpaper"
           "calendarTitle calendarTitle"
           "calendarCards calendarCards"
           "footer footer"; 
            
        }

        .consejosContainer{

            .card-1{
                flex-wrap: wrap;
                img {
                    margin: 1.5rem;
                    width: 3rem;
                    
            
             }
        
            }
            .card-2 {
                flex-wrap: wrap;
                img {
                    margin: 1.5rem;
                    width: 3rem;
                    
             }
            
            }
        }

        
    } */
@media screen and (max-width: 1023px) {
  .header2 {
    display: none;
  }
  .indexContainer {
    padding: 0px;
    display: -ms-grid;
    display: grid;
    padding: 0px;
    margin: 0%;
    width: 100vw;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
        grid-template-areas: "indexWallpaper indexWallpaper" "detoxLife detoxLife" "superfoods superfoods" "footer footer";
  }
  .calendarioContainer {
    padding: 0px;
    display: -ms-grid;
    display: grid;
    padding: 0px;
    margin: 0%;
    width: 100vw;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "calendarWallpaper calendarWallpaper" "calendarTitle calendarTitle" "calendarCards calendarCards" "footer footer";
  }
  .consejosContainer .card-1 img {
    margin: 0.2rem;
    width: 20rem;
    float: left;
  }
  .consejosContainer .card-2 img {
    margin: 0.2rem;
    width: 20rem;
    float: left;
  }
  .recetasContainer {
    padding: 0px;
    display: -ms-grid;
    display: grid;
    padding: 0px;
    margin: 0%;
    width: 100vw;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "reiciepeWallpaper reiciepeWallpaper" "reicipeTitle reicipeTitle" "reicipeCards reicipeCards" "footer footer";
  }
}

@media screen and (min-width: 1024px) {
  .menuWrap {
    display: none;
  }
  .indexContainer {
    padding: 0px;
    display: -ms-grid;
    display: grid;
    padding: 0px;
    margin: 0%;
    width: 100%;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "gridHeader gridHeader gridHeader" "indexWallpaper indexWallpaper indexWallpaper " "detoxLife superfoods superfoods" "footer footer footer";
  }
  .indexWallpaper {
    width: 100%;
  }
  .calendarWallpaper {
    width: 100%;
  }
  .calendarioContainer {
    padding: 0px;
    display: -ms-grid;
    display: grid;
    padding: 0px;
    margin: 0%;
    width: 100vw;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
        grid-template-areas: "gridHeader gridHeader gridHeader" "calendarWallpaper calendarWallpaper calendarWallpaper " "calendarTitle calendarTitle calendarTitle" "calendarCards calendarCards calendarCards" "footer footer footer";
  }
  .consejosContainer .card-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .consejosContainer .card-1 img {
    margin: 0.2rem;
    width: 20rem;
  }
  .consejosContainer .card-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .consejosContainer .card-2 img {
    margin: 0.2rem;
    width: 20rem;
  }
  .recetasContainer {
    padding: 0px;
    display: -ms-grid;
    display: grid;
    padding: 0px;
    margin: 0%;
    width: 100vw;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
        grid-template-areas: "gridHeader gridHeader gridHeader" "reiciepeWallpaper reiciepeWallpaper reiciepeWallpaper" "reicipeTitle reicipeTitle reicipeTitle" "reicipeCards reicipeCards reicipeCards" "footer footer footer";
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  grid-area: detoxLife;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: aliceblue;
}

.container .indexCard {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: aliceblue;
}

.container2 {
  grid-area: superfoods;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: aliceblue;
}

.container2 .indexCard {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: aliceblue;
}

.indexWallpaper {
  grid-area: indexWallpaper;
}

.footer {
  /* font-family: 'Outfit', sans-serif;
    font-style: normal;*/
  grid-area: footer;
  position: initial;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--primary-color);
  color: white;
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer li {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.slider {
  grid-area: slider;
  overflow: hidden;
  width: 100vw;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider ul {
  margin: 0;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: cambio 20s infinite;
          animation: cambio 20s infinite;
}

.slider li {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0%;
}

.slider img {
  width: 100vw;
  height: 40vh;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0%;
  }
  2% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0%;
  }
  2% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
}

.calendarioContainer {
  display: -ms-grid;
  display: grid;
}

.calendarWallpaper {
  grid-area: calendarWallpaper;
}

.calendarTitle, .reciepesTitle {
  grid-area: calendarTitle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.calendarCard, .reciepeCard, .reciepe {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border: solid 2px;
  border-color: #cdd8e2;
  border-radius: 35px 0px 35px 0px;
  width: 400px;
  height: 600px;
  padding: 10 px;
  list-style: none;
  overflow: auto;
  text-align: center;
  background-color: aliceblue;
  -webkit-box-shadow: 10px 10px 8px #888888;
          box-shadow: 10px 10px 8px #888888;
}

.calendarCard img, .reciepeCard img, .reciepe img {
  margin: 15px;
}

.calendarCard p, .reciepeCard p, .reciepe p {
  size: 2rem;
  margin: 15px;
}

.calendarCards, .reciepeCards {
  grid-area: calendarCards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.card-1 {
  background-color: #8faac2;
  color: aliceblue;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border: solid 2px;
  width: 95%;
  height: inherit;
  padding: 10 px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 8px #888888;
          box-shadow: 10px 10px 8px #888888;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.card-1 img {
  margin: 1.5rem;
  float: left;
}

.card-1 p {
  margin: 0.8rem;
}

.card-2 {
  background-color: #ba9cc9;
  color: #edd4f0;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border: solid 2px;
  width: 95%;
  height: inherit;
  padding: 10 px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 8px #888888;
          box-shadow: 10px 10px 8px #888888;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.card-2 img {
  margin: 1.5rem;
  float: left;
}

.card-2 p {
  margin: 0.8rem;
}

.consejosTitle {
  size: inherit;
  color: #8faac2;
  text-align: center;
  margin-top: 15px;
}

.reciepesTitle {
  grid-area: reicipeTitle;
}

.reciepeCard {
  text-decoration: none !important;
  margin-right: 10px;
}

.reciepeCards {
  grid-area: reicipeCards;
}

.reciepeWallpaper {
  grid-area: reiciepeWallpaper;
}

.reciepe {
  text-decoration: none !important;
  font-family: 'Outfit', sans-serif;
  width: 90vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  margin: 30px;
  background-image: url("../img/reciepeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #4d7274;
}

.reciepe .reciepeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
}

.reciepe h3 {
  margin-top: 1rem;
}

.reciepe li {
  list-style: none;
  color: #4b8b8d;
  font-weight: bolder;
  margin: 0.5rem;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}
/*# sourceMappingURL=estilo.css.map */